<div class="container">
	
	<div class="page-header" id="banner">
	  <div class="row">
	    <div class="text-center">        
        <p class="lead">Study to shew thyself approve.</p>
      </div>         
    </div>	        
  </div>	
		
	<div class="input-group" >
	  <input #searchBox type="text" class="form-control" placeholder="Enter bible verse: e.g. John 3:16, Jn 3:16" >
	  <span class="input-group-btn">
	    <button (click)="search(searchBox.value)" class="btn btn-default" type="button">Go!</button>
	  </span>
	</div>

</div>
